<div class="col-md-2">
 

  <div class="panel panel-default m-b-md hidden-xs">
    <div class="panel-body">
      <h5 class="m-t-0">Haberler</h5>
      <div data-grid="images" data-target-height="150">
        <img class="media-object" data-width="640" data-height="640" data-action="zoom" src="/assets/app-theme/instagram_2.jpg">
      </div>
      <p><strong>It might be time to visit Iceland.</strong> Iceland is so chill, and everything looks cool here. Also, we heard the people are pretty nice. What are you waiting for?</p>
      <button class="btn btn-primary-outline btn-sm">Buy a ticket</button>
    </div>
  </div>

  <div class="panel panel-default m-b-md hidden-xs">
    <div class="panel-body">
	    <h5 class="m-t-0">Beğeniler <small>· <a href="#">Tümü</a></small></h5>
	    <ul class="media-list media-list-stream">
	      <li class="media m-b">
	        <a class="media-left" href="#">
	          <img class="media-object img-circle" src="/assets/app-theme/avatar-fat.jpg">
	        </a>
	        
	      </li>
	       <li class="media">
	        <a class="media-left" href="#">
	          <img
	            class="media-object img-circle"
	            src="/assets/app-theme/avatar-mdo.png">
	        </a>
	        <div class="media-body">
	          
	            
	          </div>
	        </div>
	      </li>
	    </ul>
    </div>
  </div>

  
</div>